<mat-nav-list>
    <div class="profileCard">
        <div class="header">
            <h2>Profile Name</h2>
            <h3>example@gmail.com</h3>
        </div>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </div>
    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">Dashboard</a>
    <a mat-list-item routerLink="/posts" routerLinkActive="list-item-active">Post</a>
    <a mat-list-item routerLink="/articles" routerLinkActive="list-item-active">Articles</a>
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLink="/contacts" routerLinkActive="list-item-active">
        <mat-icon>import_contacts</mat-icon>
        <span>Contacts</span>
    </a>
    <a mat-list-item routerLink="/contacts" routerLinkActive="list-item-active">
        <mat-icon>contact_phone</mat-icon>
        <span>Leads</span>
    </a>
</mat-nav-list>
