mat-nav-list{
    margin: 0;
    padding: 0;
}
.profileCard{
    text-align: center;
    h2, h3{
        margin: 0;
        padding: 0;
        border: 1px solid red;
    }
    img{
        width: 12em;
        height: 12em;
        border-radius: 100%;
    }
}